<%- include('../includes/navbar.ejs') %>
<link rel="stylesheet" href="/css/cashier.css">

</head>
<body>
    <div class="d-flex flex-column" id="content-wrapper">
        <div class="container">
            <form method="POST" action="/admin/manage-discount">
                <h3 style="padding-top: 25px;">Add a new category discount:</h1>
                    <div class="form-group"><label>Category</label><select name="categoryId" class="form-control">
                        <optgroup label="Please select category">
                          <option hidden disabled selected value> -- select an option -- </option>
                        <% if (categories.length > 0) {
                            for(let category of categories){ 
                              if(!category.discount){%>
                                <option value="<%= category.categoryId %>" selected=""><%= category.name %></option>
                        <% } } }%>
                        </optgroup></select></div>
                    <div class="form-group"><label>Discount ratio:</label><input  name="ratio" class="form-control" aria-describedby="ratioCheck" type="number" min="0" max="100" step="1"></div>
                    <small id="ratioCheck" class="form-text text-muted">
                        If you type 30 this means you need a 30% discount. 
                    </small>
                    <br>
                    <button class="btn btn-primary btn-block text-white btn-user" type="submit">Add Discount</button>
            </form>
            <form id="addProductDiscount">
                <h3 style="padding-top: 25px;">Add a product discount:</h3>
                <div class="form-group">
                  <label>Choose product/s:</label>
                  <br>
                  <div class="accordion" id="accordionExample">
                    <% if (categories.length > 0) { 
                      for(let category of categories) { %>
                        <div class="card z-depth-0 bordered">
                          <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse<%=category.categoryId %>"
                                aria-expanded="true" aria-controls="collapse<%=category.categoryId %>">
                                <%= category.name %>
                              </button>
                            </h5>
                          </div>
                          <div id="collapse<%=category.categoryId %>" class="collapse show" aria-labelledby="heading<%=category.categoryId %>"
                            data-parent="#accordionExample">
                            <div class="card-body row">
                              <% if (category.products.length > 0) { 
                                for(let product of category.products){ if(product.hidden != 1 && !product.discount){ %>
                                  <div  data-id="<%= product.productId%>" id="<%= product.productId%>" class="col-2 product-card">
                                  <h4 data-id="<%= product.productId%>" class="product-name"><%= product.name%></h4>
                                  <p  data-id="<%= product.productId%>" class="product-price">$<%= product.price%></p>
                                </div>
                              <% } } } %>
                            </div>
                          </div>
                        </div>
                        <% } }%>
                </div>
                <br>
                    <div class="form-group"><label>Discount ratio:</label><input  name="ratio" class="form-control discountRatio" aria-describedby="ratioCheck" type="number" min="0" max="100" step="1"></div>
                    <small id="ratioCheck" class="form-text text-muted">
                        If you type 30 this means you need a 30% discount. 
                    </small>
                    <br>
                    <button class="btn btn-primary btn-block text-white btn-user submitDiscount">Add Discount</button>
                </form>
                </div>
        </div>

    <script src="/js/manage-discount.js"></script>
    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/bootstrap.bundle.min.js"></script>
    <script src="/js/lib/Chart.bundle.min.js"></script>
    <script src="/js/bs-init.js"></script>
    <script src="/js/lib/jquery.easing.js"></script>


<%- include('../includes/end.ejs') %>