<%- include('./includes/navbar.ejs') %>
<link rel="stylesheet" href="/css/cashier.css">
</head>
<div class="wrapper">
<div class="row"><div class="accordion col-9" id="accordionExample">
      <% if (categories.length > 0) { 
        for(let category of categories) { %>
          <div class="card z-depth-0 bordered">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse<%=category.categoryId %>"
                  aria-expanded="true" aria-controls="collapse<%=category.categoryId %>">
                  <%= category.name %>
                </button>
              </h5>
            </div>
            <div id="collapse<%=category.categoryId %>" class="collapse show" aria-labelledby="heading<%=category.categoryId %>"
              data-parent="#accordionExample">
              <div class="card-body row">
                <% if (category.products.length > 0) { 
                  for(let product of category.products){ if(product.hidden != 1){ %>
                    <div  data-id="<%= product.productId%>" data-discount="<% if (product.discount){%> <%=product.discount%> <% }else{ %> <%=category.discount%> <%}%>" id="<%= product.productId%>" class="col-2 product-card">
                    <h4 data-id="<%= product.productId%>" class="product-name"><%= product.name%></h4>
                    <p  data-id="<%= product.productId%>" class="product-price">$<%= product.price%></p>
                  </div>
                <% } } } %>
              </div>
            </div>
          </div>
          <% } }%>
</div>
<div class='col-3 order-cart'>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Count</th>
      </tr>
    </thead>
    <tbody class="products-body">

    </tbody>
  </table>
  <hr>
  <div class="row hidden manual-discount">
    <label class="col-5">Manual discount:</label>
    <input class="col-4" type="number" value="0" min="0" autocomplete="off" step=".01">
    <label class="col-3">L.E</label>
  </div>
  <hr>
  <div class="hidden-calc overall-product">
    <p class="overall text-center">Overall: 0</p>
    <p class="discount text-center">Total Discount: 0</p>
    <p class="total text-center">Total after the discount: 0</p>
  </div>
  <div class="row">
  <div  class="col-9">
    <label>&nbspPhone number:</label>
    <input style="width: 150px;" id="autocomplete" autocomplete="off" class="phoneNumber" minlength="11" maxlength="11" type="text" name="phoneNumber" list="phonesList">
    <datalist id="phonesList">
    </datalist>
    </div>
    <div style="margin-left: -5px;" class=" col-2 form-check">
    <input autocomplete="off" type="checkbox" class="form-check-input" id="exampleCheck1">
    <label style="margin-top: 3px;" class="form-check-label" for="exampleCheck1">Delivery</label>
  </div>
  </div><br>
  
  <div class="row">
  <div style="padding-left: 20px;" class="col-4">
    <input placeholder="User Name" autocomplete="off" style="width: 150px;" name="name" class="userName" type="text" >
  </div>
  <div  class="col-8">
        <input placeholder="Address" autocomplete="off" style=" margin-left:15px; width: 200px;" name="name" class="userAddress" type="text">
  </div>
  </div><br><br>
  <div class="row">
  <div style="margin-left: 15px; padding-top: 10px;" class="col-3 row">
    <p class="col-7">Points:</p>
    <p class="col-4 availablePoints">0</p>
  </div>
  <div  class="col-8">
        <input  min="0" max="" placeholder="Use points" style=" margin-left:15px; width: 200px;" name="name" autocomplete="off" class="usePoints" type="number" step="10">
  </div>
  </div><br>
  <button id="submitButton" type="button" class="hidden btn btn-primary btn-lg btn-block">Place Order</button>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
<script src="/js/bs-init.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
<script src="/js/theme.js"></script>
<script src="/js/place-order.js"></script>
<%- include('./includes/end.ejs') %>